/* 
    Document   : index.css
    Created on : 21.08.2010, 12:38:49
    Author     : matthias
    Description:
        Purpose of the stylesheet follows.
*/
    #navi{
        position: relative;
        left: 650px;
        border: 1px solid black;
        padding: 3px;
        width: 30%;
        background-color: darksalmon;
        z-index: 10;
    }

    #content{
        position: absolute;
        z-index: 9;
        top: 0px;
    }
    input, input[disabled], textarea, textarea[disabled]{
        border:0 none;
        background-color: #ffffff;
        font-family: sans-serif;
        font-size: 0.8em;
        color: #000000;
    }

    input.question{
        border-bottom: 1px solid black;
        color:#333333;
        font-weight:800;
        background-color: #fff;
    }

    .answer{
        margin-left: 15px;
}
    label{
        width: 15em;
    }

    #output{
        border:1px solid black;
        position: absolute;
        z-index: 1000;
        top: 50px;
        left:300px;
        width: 550px;
        padding: 5px;
        background-color: white;
    }

    #overlay {
        background-color:#000000;
        height:100%;
        top:0;
        left:0;
        opacity:0.5;
        position:fixed;
        width:100%;
        z-index:999;
        }
    .add{
        font-size: 0.6em;
        vertical-align: top;
        color: darksalmon;
        cursor: pointer;
    }

    #newmainsection{
        text-decoration: underline;
        cursor: pointer;
    }

    .ui-state-highlight {
        height: 1.5em;
        line-height: 1.2em;
        background-color: lightcyan;
    }
    #delete_question{
       cursor: pointer;
    }
    ul, li{
        list-style: none;
        font-style: normal;
        font-weight: 600;
}
    .section{
        font-size: 1.2em;
    }
    a img{
    border: none;
}